  <form>
    <div class="container" style="background-color:#ccc">

      <h1>Catalogo cursos</h1>
      <div style="background-color:#fff">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">
                Titulo
                <button type="button" (click)="ordenar($event)">
                  <fa-icon [icon]="faSortDown" *ngIf="asc"></fa-icon>
                  <fa-icon [icon]="faSortUp" *ngIf="!asc"></fa-icon>
                </button>
              </th>
              <th scope="col">Profesor</th>
              <th scope="col">Nivel</th>
              <th scope="col">Horas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let curso of cursos | async | paginate:{itemsPerPage: 10, currentPage:paginaActual}">
              <td>{{curso.titulo}}</td>
              <td>{{curso.profesor.nombre}}</td>
              <td>{{curso.nivel}}</td>
              <td>{{curso.horas}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <table>
          <tr>
            <td align="right">
              <pagination-controls (pageChange)="paginaActual=$event"></pagination-controls>
            </td>
            <td align="left">
              <button routerLink="/rest/v1/crearCurso" type="button" class="btn btn-primary">Nuevo Curso</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
