  <form>
    <div class="container" style="background-color:#ccc">

      <h1>Catalogo cursos</h1>
      <div style="background-color:#fff">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">
                <table>
                  <tr>
                    <td>Titulo</td>
                    <td><button   type="button" class="btn" (click)="ordenar($event)"><fa-icon [icon]="faSort"></fa-icon></button></td>
                  </tr>
                </table>
              </th>
              <th scope="col">Profesor</th>
              <th scope="col">Nivel</th>
              <th scope="col">Horas</th>
            </tr>
          </thead>
          <tbody *ngFor="let curso of cursos | async | paginate:{itemsPerPage: 10, currentPage:paginaActual}">
            <tr>
              <td>{{curso.titulo}}</td>
              <td>{{curso.profesor.nombre}}</td>
              <td>{{curso.nivel}}</td>
              <td>{{curso.horas}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="paginaActual=$event"></pagination-controls>
    </div>
  </form>
