<div class="container" style="background-color:#ccc">

  <form>
    <h1>Crear Curso</h1>
    <div class="form-group">
      <label for="Activo">Activo</label>
      <input type="checkbox" name="Activo"><br>
    </div>
    <div class="form-group">
      <label for="profesores">Profesor</label>
      <select name="Profesores">
        <option value="PR1">Roberto Canales</option>
        <option value="PR2">David Gomez</option>
        <option value="PR3">Alberto Moratilla</option>
        <option value="PR4">Rubén Aguilera</option>
      </select><br>

    </div>
    <div class="form-group">
      <label for="Titulo">Titulo</label>
      <input type="text" name="Titulo" value=""/><br>
    </div>
    <div class="form-group">
      <label for="nivel">Nivel</label>
      <select name="nivel">
        <option value="BA">Basico</option>
        <option value="IN">Intermedio</option>
        <option value="AV">Avanzado</option>

      </select><br>
    </div>
    <div class="form-group">
      <label for="quantity">Horas</label>
      <input type="number" name="quantity" min="1" max="99" maxlength="2" onKeyDown="if(this.value.length==2) return false;"/>
    </div>
    <button type="button" class="btn btn-primary">Crear Curso</button>
  </form>
</div>

